.filelist {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    background: #1f1f1f;
    padding: 10px;
    /* border: 2px solid #141414; */
    border-radius: 20px;

    font-family: 'Jetbrains mono', cursive;
}

.fileobject {
    display: grid;
    grid-template-columns: 4vw auto 6vw;
    grid-template-rows: auto auto;

    font-size: 23px;

    row-gap: 2px;
    column-gap: 10px;

    border: 2px solid #383838;
    border-radius: 10px;

    transition-duration: 0.4s;
    background: #272727;
    overflow: hidden;
    box-sizing: border-box;
}
.fileobject:hover {
    border-color: #636363;
}

.fileobject .fileicon {
    grid-row: 1/3;
    grid-column: 1/1;

    background: rgba(153, 217, 255, 0.19);
    margin: 10px;
    border: 1px solid rgb(159, 221, 255);
    border-radius: 8px;

    font-size: 15px;

    text-align: center;
    align-content: center;
}
.fileobject .filedata {
    grid-row: 1/2;

    padding: 5px 0;

    display: flex;
    flex-direction: column;
    row-gap: 0px;
}
.fileobject .filedata .filename {
    font-size: 18px;
    word-spacing: -6px;
}
.fileobject .filedata .filedate {
    font-size: 13px;
    opacity: 50%;
}
.fileobject .downbtn {
    grid-row: 1/2;
    grid-column: 3/3;

    margin: 0 10px;

    text-align: center;
    align-content: center;
}
.fileobject .downbtn button {
    /* background: rgb(40, 158, 255); */
    background: transparent;
    color: white;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Jetbrains mono';
    transition-duration: 0.3s;
}
.fileobject .downbtn button:hover {
    border-color: rgb(178, 220, 255);
    background: rgb(178, 220, 255, 0.2);
    color: rgb(178, 220, 255);
}